main {
  padding: 2rem;
  padding-top: 5rem;
}

//TODO: extraer color fondo menu
.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #032541;
}
.logo{
  //width: 35%;
  height: 1.5rem;
  cursor: pointer;
}
.spacer {
  flex: 1 1 auto;
}
.icon-button {
  color: white;
}

.app-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #032541;
    height: 92vh;
    width: 100%;
    border-radius: 1rem;
}
.app-button {
  width: 30%;
  min-width: 15rem;
  min-height: 3rem;
  border-radius: 1rem;
  border: 0;
  background-color: #8dcda2;
  color: #032541;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
.app-button:hover {
  background-color: #5ec4b9;
}
.app-button:active {
  background-color: #01b3e4;
}

.app-title {
  color: white;
  line-height: 2rem;
  letter-spacing: 0.2rem;
}

.app-form{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 15rem;
    gap: 1.5rem;
}
.app-input{
    min-width: 15rem;
    min-height: 2rem;
    font-size: 1rem;
}


