<section class="movie-info" >
    <div class="movie-image-container">
        <app-movie-average [value] = "movieAverage()"></app-movie-average>
        <img class="movie-poster" src="{{imgPath}}{{movie()?.poster_path}}" alt="Portada de {{movie()?.title}}">
    </div>
    <div class="movie-text-container">
        <h1 class="movie-title">{{movie()?.title}}</h1>
        <h2 class="movie-tagline">{{movie()?.tagline}}</h2>
        <div>
            <span class="movie-date">{{movie()?.release_date | date:'dd-MM-yyyy'}}</span> · 
            <span class="movie-runtime">{{movie()?.runtime}} minutos</span>
        </div>
        <p class="movie-genres">
            @for (genre of movie()?.genres; track $index) {
                @if ($index > 0) {-} {{genre.name}}
            }
        </p>
        <p class="movie-overview">{{movie()?.overview}}</p>
    </div>
</section>
<section class="cast">
    <h2>REPARTO</h2>
    <app-cast-card-list [cast]="movie()?.credits?.cast"></app-cast-card-list>
</section>
<section class="similar">
    <h2>PELÍCULAS SIMILARES</h2>
    <app-movie-card-list [movies]="this.movie()?.similar"></app-movie-card-list>
</section>
<section class="recommendations">
    <h2>PELÍCULAS RECOMENDADAS</h2>
    <app-movie-card-list [movies]="this.movie()?.recommendations"></app-movie-card-list>
</section>

