//TODO: extraer color fondo circulo
.movie-average-circle {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: rgb(3, 37, 65, 0.85); //#032541;

  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  z-index: 10;
}
.movie-average-spinner {
  position: absolute;
  top: 1px;
  right: 1px;
  max-width: 38px;
  max-height: 38px;
  z-index: 11;
}
.average-number {
  font-size: 1.1rem;
}
.average-percent {
  font-size: 0.6rem;
}
