$hover-color: #2dbbd0;
$background-color: #032541;
$spinner-color: #2dbbd0;
$font-color-dark: #032541;
$font-color-light: white;
$border-color-error: red;
$border-color-light: white;
$background-title1: #01b3e4;
$background-title2: #5ec4b9;
$background-title3: #8dcda2;
$button-background-color: #8dcda2;
$button-color: #032541;
$button-background-color-hover: #5ec4b9;
$buttton-background-color-active: #01b3e4;
$button-background-color-inactive: grey;
$card-title-color-hover: #01b4e4;
