.card-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(150px, 1fr)
  ); /* Ejemplo: columnas que se ajustan automáticamente */
  gap: 1rem;
  background-color: transparent;
}

.card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}
.movie-average-circle {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  // background-color: rgba(0, 0, 0, 0.7);
  background-color: rgb(3,37,65,0.85); //#032541;

  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  z-index: 10;
  // border: 2px solid #2dbbd0;
}
.movie-average-spinner{
  position: absolute;
  top: 1px;
  right: 1px;
  max-width: 38px;
  max-height: 38px;
  z-index: 11;

}
.average-number{
  font-size: 1.1rem;
}
.average-percent{
  font-size: 0.6rem;
}
.card img {
  // cursor: pointer;
  width: 100%;
  height: 75%;
  object-fit: cover;
}
.card-title-group {
  flex-grow: 0;
  padding: 0.5rem;
  width: calc(100% - 1rem);
}
.card-title {
  font-weight: 500;
  // cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2; /* Número de líneas que deseas mostrar */
  -webkit-box-orient: vertical;
}
.card-title:hover {
  color: #01b4e4;
}
.card-subtitle {
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1; /* Número de líneas que deseas mostrar */
  -webkit-box-orient: vertical;
}
.card-actions {
  // Esto empuja las acciones al final
  margin-top: auto;
}

@media screen and (min-width: 1000px) {
  .card-list {
    grid-template-columns: repeat(
      auto-fill,
      minmax(250px, 1fr)
    ); /* Ejemplo: columnas que se ajustan automáticamente */
  }
  .card img {
    height: 83%;
  }
}
